# Environment Variables
.env
.env.local
.env.*.local
*.env

# Node modules
backend/node_modules/
frontend/node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log
yarn-error.log

# Build
backend/dist/
backend/build/
frontend/build/
frontend/dist/

# Docker & K8s
docker-compose.override.yml
kubeconfig
*.kubeconfig

# Credentials
**/secrets/
**/credentials/
**/.kube/config
**.pem
**.key

# Temp
tmp/
temp/
venv/
k8s/secret.yaml
venv/
k8s/secret.yaml
k8s/backend-deployment.yaml
