apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: autodeploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: sarika1731/autodeploy-backend:latest
        ports:
        - containerPort: 5000
        imagePullPolicy: Always
        env:
        - name: PORT
          value: "5000"
