apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: autodeploy
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: sarika1731/autodeploy-backend:latest
        ports:
        - containerPort: 5000
        imagePullPolicy: Always
        env:
        - name: PORT
          value: "5000"
        - name: NODE_ENV
          value: "production"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"
